<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditing ? 'Editar' : 'Añadir' }} {{ tipo | titlecase }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- ✅ Si es un Material, mostramos estos campos -->
  <ng-container *ngIf="tipo === 'material'">
    <ion-item>
      <ion-label position="floating">Etiqueta</ion-label>
      <ion-input [(ngModel)]="item.etiketa" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="item.izena" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="item.kategoria" required>
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.izena }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" color="secondary" (click)="openKategoriaModal()">Añadir Categoria</ion-button>
  </ng-container>
  

  <!-- ✅ Si es un Producto, mostramos estos campos -->
  <ng-container *ngIf="tipo === 'producto'">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="item.nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="item.descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="item.kategoria" required>
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.izena }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-button expand="full" color="secondary" (click)="openKategoriaModal()">Añadir Categoria</ion-button>

    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input [(ngModel)]="item.marka" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Stock</ion-label>
      <ion-input type="number" [(ngModel)]="item.stock" min="0" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Stock Alerta</ion-label>
      <ion-input type="number" [(ngModel)]="item.stockAlerta" min="0"></ion-input>
    </ion-item>
  </ng-container>

</ion-content>

<ion-footer>
  <ion-button expand="full" color="primary" (click)="saveItem()">Guardar</ion-button> 
</ion-footer>
