<ion-header>
  <ion-toolbar>
    <ion-title>Añadir Grupo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Código *</ion-label>
    <ion-input [(ngModel)]="grupo.kodea" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre *</ion-label>
    <ion-input [(ngModel)]="grupo.izena" required></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button expand="full" color="primary" (click)="saveGrupo()">Guardar</ion-button>
</ion-footer>
