<ion-app>
  <app-barra-navegacion></app-barra-navegacion>

  <ion-content class="full-height">
    <app-nav-bar></app-nav-bar>
    <app-barra-control (citasActualizadas)="actualizarCitas($event)"></app-barra-control>

    <ion-grid class="full-grid">
      <ion-row>
        <ion-col size-md="11" size="12">
          <ion-card class="full-card">
            <ion-card-header class="center">
              <ion-card-title>Agenda del día</ion-card-title>
            </ion-card-header>

            <div class="agenda-container">
              <div class="hour-column">
                <div *ngFor="let hour of hours" class="hour-item">
                  {{ hour }}
                </div>
              </div>

              <div class="agenda-column">
                <div class="citas-container">
                  <div *ngFor="let cita of citas"
                    class="cita-box"
                    [ngStyle]="{
                      'top': calcularPosicion(cita.hasieraOrdua),
                      'height': calcularAltura(cita.duracion),
                      'left': calcularFila(cita),
                      'background-color': cita.color
                    }"
                    (click)="abrirInfoCita(cita)">

                    <ion-card-content class="cita-text">
                      <strong style="font-size: 22px; font-weight: 300; color: white">{{ cita.izena }}</strong><br>
                      <span style="color: aqua; font-weight: 300;">{{ cita.deskribapena }}</span>
                      <p style="color: yellow;">Asiento: {{ cita.eserlekua }}</p>
                    </ion-card-content>

                  </div>
                </div>
              </div>
            </div>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
