.logo {
  width: 350px;
  height: auto;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-icon{
  color: #616161;
  margin-top: 10px;
}

b{
  color: black;
}

.content{
  background-color: #2c9aa2;
  padding: 30px;
  border-radius: 20px;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 10px;
}

ion-list{
  background-color: #2c9aa2;
}

ion-card {
  --background: #E4FEFF;
  margin-top: 25px;
}


.stock-card {
  position: fixed;
  top: 70px;
  right: 20px;
  width: 350px;
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
  background-color: white; /* Opcional: fondo blanco si está sobre un fondo degradado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra para destacarlo */
  border-radius: 12px; /* Opcional: esquinas redondeadas */
}
