<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
  
      <!-- Botón de logout (izquierda) -->
      <ion-buttons slot="start">
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline" size="large" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <!-- Título centrado -->
      <ion-title class="ion-text-center">SANTURTZI LHII</ion-title>
  
      <!-- Selector de idioma (derecha) -->
      <ion-select slot="end" [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage()" interface="popover">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="eu">Euskera</ion-select-option>
      </ion-select>
  
    </ion-toolbar>
  </ion-header>


  <div class="ion-text-center">
    <img src="assets/IMP_Logotipoa.png" alt="Santurtzi Logo" class="logo" />
  </div>

  

  <div class="cards-container" [ngClass]="{ 'dos-columnas': ikasle, 'tres-columnas': !ikasle }">
  
    <!-- Accesos Rápidos -->
    <ion-card class="section-card">
      <ion-card-header class="card-header-center">
        <ion-icon name="flash-outline" size="large" color="primary"></ion-icon>
        <ion-card-title>{{ 'menu.accesosRapidos' | translate }}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <app-home-botoiak-konponentea kolorea="light" botoiTitulua="{{ 'menu.hitzorduak' | translate }}" iconIzena="calendar-number" routerLink="/hitzorduak"></app-home-botoiak-konponentea>
        <app-home-botoiak-konponentea kolorea="light" botoiTitulua="{{ 'menu.txandak' | translate }}" iconIzena="repeat" routerLink="/txandak"></app-home-botoiak-konponentea>
        <app-home-botoiak-konponentea kolorea="light" botoiTitulua="{{ 'menu.historiala' | translate }}" iconIzena="albums" routerLink="/historiala"></app-home-botoiak-konponentea>
      </ion-card-content>
    </ion-card>
  
    <!-- Inventario -->
    <ion-card class="section-card">
      <ion-card-header class="card-header-center">
        <ion-icon name="cube" size="large" color="primary"></ion-icon>
        <ion-card-title>{{ 'menu.inbentario' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-home-botoiak-konponentea kolorea="light" botoiTitulua="{{ 'menu.materialak' | translate }}" iconIzena="cut" routerLink="/materialak"></app-home-botoiak-konponentea>
        <app-home-botoiak-konponentea kolorea="light" botoiTitulua="{{ 'menu.produktuak' | translate }}" iconIzena="color-fill" routerLink="/produktuak"></app-home-botoiak-konponentea>
      </ion-card-content>
    </ion-card>
  
    <!-- Parametrización -->
    <ion-card *ngIf="!ikasle" class="section-card">
      <ion-card-header class="card-header-center">
        <ion-icon name="cog" size="large" color="primary"></ion-icon>
        <ion-card-title>{{ 'menu.parametrizacion' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-home-botoiak-konponentea kolorea="light" botoiTitulua="{{ 'menu.zerbitzuak' | translate }}" iconIzena="albums" routerLink="/tratamenduak"></app-home-botoiak-konponentea>
        <app-home-botoiak-konponentea kolorea="light" botoiTitulua="{{ 'menu.ikasleak' | translate }}" iconIzena="people" routerLink="/ikasleak"></app-home-botoiak-konponentea>
        <app-home-botoiak-konponentea kolorea="light" botoiTitulua="{{ 'menu.grafikoak' | translate }}" iconIzena="stats-chart" routerLink="/grafikoak"></app-home-botoiak-konponentea>
      </ion-card-content>
    </ion-card>

    
  
  </div>
  <ion-card *ngIf="getProductosBajoStock().length > 0" class="stock-alert-card">
    <ion-item lines="none" color="danger">
      <ion-icon slot="start" name="warning" color="light"></ion-icon>
      <ion-label class="ion-text-wrap">
        <b>{{ 'menu.productosBajoStock' | translate }}</b>
      </ion-label>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let producto of getProductosBajoStock()">
        <ion-label>
          <h2>{{ producto.izena }}</h2>
          <p>{{ 'menu.Stock' | translate }}: {{ producto.stock }}</p>
          <p>{{ 'menu.Alerta' | translate }}: {{ producto.stockAlerta }}</p>
        </ion-label>
        <ion-badge color="danger">{{ 'menu.bajoStock' | translate }}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
