.cards-container {
  display: flex;
  gap: 16px;
  margin: 16px;
  flex-wrap: wrap;

  .section-card {
    position: sticky;
  top: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px; // Responsivo
  }

  &.dos-columnas .section-card {
    width: calc(50% - 8px); // 2 columnas con gap
  }

  &.tres-columnas .section-card {
    width: calc(33.333% - 11px); // 3 columnas con gap
  }

  @media (max-width: 768px) {
    .section-card {
      width: 100% !important; // En móviles, una por fila
    }
  }
}

.logo {
  margin: 20px;
}

.card-header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;

  ion-icon {
    font-size: 36px;
    margin-bottom: 0.5rem;
  }

  ion-card-title {
    font-weight: bold;
    font-size: 1.1rem;
  }
}
