<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <img src="assets/fotos/Logo-horizontal-FP_Santurtzi_LH_small.png" alt="Logo FP Santurtzi LH" />
    </div>

    <h1 class="ion-text-center">Login</h1>
    <form (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="!username || !password">
        Iniciar Sesión
      </ion-button>
    </form>
    
    <!-- Mensaje de error si el login falla -->
    <div *ngIf="loginError" class="ion-text-center" style="color: red;">
      <small>Usuario o contraseña incorrectos. Por favor, intenta nuevamente.</small>
    </div>

    <div class="ion-text-center">
      <small>¿Olvidaste tu contraseña?</small>
    </div>
  </div>
</ion-content>
