<app-header></app-header>

<ion-content class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="Headeraaa">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">{{ 'txandakPage.titulo' | translate }}</ion-title>
      <ion-select
        slot="end"
        [(ngModel)]="selectedLanguage"
        (ionChange)="changeLanguage()"
      >
        <ion-select-option value="es"
          >Español</ion-select-option
        >
        <ion-select-option value="eu"
          >Euskera</ion-select-option
        >
      </ion-select>
    </ion-toolbar>
  </ion-header>
  

  <!-- Botón para añadir nueva txanda -->
  <ion-button id="txanda-sortu-modal" class="Botoiak">
    {{ 'txandakPage.botonAñadir' | translate }}
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title
        >{{ 'txandakPage.filtrarFecha' | translate }}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="5">
            <ion-item>
              <ion-label position="stacked"
                >{{ 'txandakPage.fechaInicio' | translate }}</ion-label
              >
              <ion-input
                type="date"
                [(ngModel)]="fechaInicio"
                (ionChange)="getTxandak()"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="5">
            <ion-item>
              <ion-label position="stacked"
                >{{ 'txandakPage.fechaFin' | translate }}</ion-label
              >
              <ion-input
                type="date"
                [(ngModel)]="fechaFin"
                (ionChange)="getTxandak()"
              ></ion-input>
            </ion-item>
          </ion-col>

          <!-- Botón Hoy -->
          <ion-col size="2" class="ion-text-center">
            <ion-button color="primary" fill="solid" (click)="filterToday()">
              {{ 'txandakPage.botonHoy' | translate }}
            </ion-button>
            <ion-button color="danger" fill="outline" (click)="resetFilters()">
              <ion-icon slot="start" name="close-circle"></ion-icon>
              {{ 'txandakPage.botonReset' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title
        >{{ 'txandakPage.filtrarTipo' | translate }}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-item>
              <ion-label>{{ 'txandakPage.filtrarTipo' | translate }}</ion-label>
              <ion-select
                [(ngModel)]="selectedType"
                (ionChange)="filterTxandas()"
              >
                <ion-select-option value="all"
                  >{{ 'txandakPage.todas' | translate }}</ion-select-option
                >
                <ion-select-option value="G"
                  >{{ 'txandakPage.garbiketa' | translate }}</ion-select-option
                >
                <ion-select-option value="M"
                  >{{ 'txandakPage.mahaia' | translate }}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title
        >{{ 'txandakPage.listaTxandas' | translate }}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <!-- Lista de Txandas -->
      <ion-list>
        <ion-item *ngFor="let txanda of filteredTxandak">
          <ion-label>
            <h2>
              {{ txanda.mota === 'G' ? 'Garbiketa' : txanda.mota === 'M' ?
              'Mahaia' : txanda.mota }}
            </h2>
            <p>
              {{ 'txandakPage.fechaTxanda' | translate }}: {{ txanda.data }}
            </p>

            <!-- Mostrar alumno directamente -->
            <p>
              <strong>{{ 'txandakPage.alumno' | translate }}</strong>
              <span *ngIf="txanda.alumno">
                {{ txanda.alumno.izena }} {{ txanda.alumno.abizenak }}
              </span>
              <span *ngIf="!txanda.alumno?.izena">
                {{ 'txandakPage.desconocido' | translate }}
              </span>
            </p>
          </ion-label>
          <!-- Botón para eliminar -->
          <ion-button
            (click)="deleteTxanda(txanda.id!)"
            color="danger"
            slot="end"
            >{{ 'txandakPage.botonEliminar' | translate }}</ion-button
          >
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Modal para añadir una nueva txanda -->
  <ion-modal trigger="txanda-sortu-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'txandakPage.modalTitulo' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Selección del tipo de txanda -->
        <ion-item>
          <ion-label position="stacked"
            >{{ 'txandakPage.tipoTxanda' | translate }}</ion-label
          >
          <ion-select
            [(ngModel)]="nuevaTxanda.mota"
            placeholder="{{ 'txandakPage.tipoPlaceholderModal' | translate }}"
          >
            <ion-select-option value="G"
              >{{ 'txandakPage.garbiketa' | translate }}</ion-select-option
            >
            <ion-select-option value="M"
              >{{ 'txandakPage.mahaia' | translate }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <!-- Selección del alumno -->
        <ion-item>
          <ion-label position="stacked"
            >{{ 'txandakPage.alumnoSeleccion' | translate }}</ion-label
          >
          <ion-select
            [(ngModel)]="nuevaTxanda.alumno"
            placeholder="{{ 'txandakPage.alumnoPlaceholderModal' | translate }}"
          >
            <ion-select-option
              *ngFor="let alumno of Alumnos"
              [value]="alumno.id"
            >
              {{ alumno.izena }} {{ alumno.abizenak }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Botón para guardar, deshabilitado si no están completos los campos -->
        <ion-button
          expand="full"
          (click)="guardarTxanda()"
          [disabled]="!nuevaTxanda.mota || !nuevaTxanda.alumno"
        >
          {{ 'txandakPage.botonGuardar' | translate }}
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
