<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'seleccionarCliente.titulo' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" fill="clear">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterClientes()" debounce="300"
    [placeholder]="'seleccionarCliente.buscarPlaceholder' | translate">
  </ion-searchbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'seleccionarCliente.listaTitulo' | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" color="primary" (click)="crearNuevoCliente()">
        <ion-icon name="add" slot="start"></ion-icon>
        {{ 'seleccionarCliente.crearNuevoBtn' | translate }}
      </ion-button>

      <div *ngFor="let cliente of filteredClientes" (click)="asignarCliente(cliente)"
        [style.background-color]="cliente.id === clienteId ? 'var(--ion-color-tertiary)' : 'transparent'" style="
              margin: 8px 0;
              padding: 12px 16px;
              border-radius: 8px;
              cursor: pointer;
              display: flex;
              justify-content: space-between;
              align-items: center;
              transition: background-color 0.3s ease;
           " (mouseover)="hover = cliente.id" (mouseout)="hover = null" [style.background-color]="
             cliente.id === clienteId ? 'var(--ion-color-tertiary)' : (hover === cliente.id ? 'lightblue' : 'transparent')
           ">
        <div>
          <h2 style="margin: 0;">{{ cliente.izena }} {{ cliente.abizena }}</h2>
          <p style="margin: 0;">{{ cliente.telefonoa }}</p>
        </div>
        <ion-button fill="clear" color="primary" (click)="$event.stopPropagation(); asignarCliente(cliente);">
          {{ 'seleccionarCliente.asignarBtn' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>