<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'cita.nuevaTitulo' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()" fill="clear">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'cita.detallesTitulo' | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">{{ 'cita.seleccionarCliente' | translate }}</ion-label>
        <ion-select [(ngModel)]="clienteId" [placeholder]="'cita.seleccionarCliente' | translate">
          <ion-select-option *ngFor="let bezero of bezeroak" [value]="bezero.id">
            {{ bezero.izena }} {{ bezero.abizena }}
          </ion-select-option>
        </ion-select>
        <ion-button slot="end" (click)="crearNuevoCliente()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{ 'cita.descripcion' | translate }}</ion-label>
        <ion-input [(ngModel)]="descripcion" [placeholder]="'cita.descripcionPlaceholder' | translate" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'cita.perteneceCentro' | translate }}</ion-label>
        <ion-checkbox [(ngModel)]="esCentro"></ion-checkbox>
      </ion-item>

      <ion-button expand="block" color="medium" (click)="abrirGaleria()" [disabled]="!clienteId">
        {{ 'cita.verGaleria' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="confirmarCita()" [disabled]="!clienteId || !descripcion">
    {{ 'cita.confirmar' | translate }}
  </ion-button>
</ion-content>
