<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Cita</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()" fill="clear">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Card para asignar la cita -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles de la Cita</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <!-- Selección de cliente existente -->
      <ion-item>
        <ion-label position="floating">Selecciona un cliente</ion-label>
      
        <ion-select [(ngModel)]="clienteId" placeholder="Selecciona un cliente">
          <ion-select-option *ngFor="let bezero of bezeroak" [value]="bezero.id">
            {{ bezero.izena }} {{ bezero.abizena }}
          </ion-select-option>
        </ion-select>
        <ion-button slot="end" (click)="crearNuevoCliente()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      

      <!-- Descripción de la cita -->
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input [(ngModel)]="descripcion" placeholder="Descripción de la cita" type="text"></ion-input>
      </ion-item>

      <!-- ¿Pertenece al centro? -->
      <ion-item>
        <ion-label>¿Pertenece al centro?</ion-label>
        <ion-checkbox [(ngModel)]="esCentro"></ion-checkbox>
      </ion-item>

      <ion-button expand="block" color="medium" (click)="abrirGaleria()" [disabled]="!clienteId">
  Ver Galería del Cliente
</ion-button>

    </ion-card-content>
  </ion-card>

  <!-- Botón para confirmar la cita -->
  <ion-button expand="full" (click)="confirmarCita()" [disabled]="!clienteId || !descripcion">
    Confirmar Cita
  </ion-button>
</ion-content>
