.galeria-modal {
  --width: 90vw;
  --height: 90vh;
  --border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.cliente-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cliente-card {
  width: 90%;
  max-width: 400px;
}
