 .barracontrol {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #535b7f;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
  }
  .barracontrol ion-select,
  .barracontrol ion-datetime {
    max-width: 150px;
  }