<ion-header>
  <ion-toolbar>
    <ion-title>Galería</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container 
    [attr.navigation]="true" 
    [attr.pagination]="true"
    [attr.loop]="true"
    (slidechange)="swiperSlideChanged($event)">
    
    <swiper-slide *ngFor="let img of imagenes">
      <ion-card>
        <img [src]="transformarURL(img)" alt="Imagen de galería" />
      </ion-card>
    </swiper-slide>

  </swiper-container>
</ion-content>
