.table-container {
  background-color: transparent;
  overflow:scroll;
  margin: 20px;
}

table {
  width: 500px;
  height: 500px;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 10px;
}

td:first-child,
th:first-child {
  position: sticky;
  left: 0;
  width: 500px;
  max-width: 500px;
  z-index: 2; 
}

td:first-child{
  background: magenta;
}

th:first-child{
  background-color: #beb3b370 ;
}

td:not(:first-child),
th:not(:first-child) {
  min-width: 200px;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.bg-rojo {
  background-color: grey;
}

.bg-naranja {
  background-color: yellow;
}

.bg-azul {
  background-color: lightblue;
}

.selected {
  border: 2px solid #ff4081; /* Borde de color rosa */
  box-shadow: 0 0 10px rgba(255, 64, 129, 0.5); /* Sombra que da el efecto de "brillo" */
  background-color: rgba(255, 64, 129, 0.1); /* Fondo suave con un toque de color */
}

.highlighted {
  background-color: #f0f8ff2d; /* Color de fondo para la selección */
  border: 1px solid #00bfff;
}

ion-item {
  --background: transparent;
}

ion-list {
  background-color: rgb(255,255,255,0);
}


ion-card-header{
  background-color: transparent;
}



/* Cabecera de la tabla */
table thead th {
  background-color: #ffffff; /* Fondo blanco sólido */
  font-weight: bold;
  color: #333; /* Color de texto oscuro */
}

/* Primera columna */
table tbody td:first-child {
  background-color: #ffffff; /* Fondo blanco sólido */
  font-weight: bold;
  color: #333; /* Color de texto oscuro */
}

/* Celdas con citas */
table tbody td.ng-star-inserted {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo ligero y opaco */
  color: #333; /* Color de texto oscuro */
  border-radius: 5px;
}

/* Botones */
// ion-button {
//   background-color: #ff6f61 !important; /* Color de fondo de botones */
//   color: white; /* Color de texto en botones */
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombras suaves para los botones */
// }
// ion-button:hover {
//   background-color: #ff4c3b; /* Cambiar color de fondo al pasar el ratón */
// }


// Colores
// $color-light-blue: #E4FEFF;
// $color-medium-blue: #88E4E8;
// $color-dark-teal: #00C7BE;
// $color-light-teal: #63D6F5;
// $color-white: #FFFFFF;
// $color-black: #000000;
// $color-light-gray: #E9E9E9;
// $color-light-blue-alt: #C4E7F1;

// Estructura general
// ion-content {
// background-color: $color-white;
// padding: 16px;
// }

// ion-header {
// background-color: $color-light-teal;
// color: $color-white;
// --ion-toolbar-background: $color-light-teal;
// --ion-toolbar-color: $color-white;
// }

ion-card{
  width: auto;
  height: auto;
  // max-width: 90%;
  // max-height: 90%;
  height: 100%;
}


.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  flex: 1;
  padding-right: 2rem; /* espacio para el botón */
}

.clear-btn {
  position: absolute;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #999;
}

ion-item {
  color: white;
}

ion-label {
  color: white;
}

.fecha-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.alargada-card {
  height: 250px; /* Ajusta según la altura que quieras */
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Esto asegura que el contenido dentro de la card se distribuya bien */
  padding: 20px;
}

hr {
  border: 0;
  border-top: 2px solid #000; /* Puedes cambiar el color y el grosor */
  margin: 20px 0;
}


.modal-grande {
  --width: 90vw;
  --height: 90vh;
  --max-width: 100%;
  --max-height: 100%;
  --border-radius: 16px; // opcional, para que no quede cuadrado
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
}

.card-grid ion-card {
  width: 300px; /* Ajusta según tus necesidades */
  flex-shrink: 0;
}


ion-badge {
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
}

ion-badge[color='secondary'] {
  background-color: #8e8e8e; /* Gris para En espera */
}

ion-badge[color='warning'] {
  background-color: #ff9800; /* Naranja para En proceso */
}

ion-badge[color='success'] {
  background-color: #4caf50; /* Verde para Finalizada */
}

ion-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de líneas antes de truncar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
