ion-toolbar {
    --background: #f8f9fa;
    --color: #333;
  }
  
    .logo-container {
    padding: 10px;
  }
  
  .logo-container img {
    height: auto;
    width: 80px;
  }
  
  ion-avatar{
    padding: 10px;
  }
  .menu-icon {
    display: none; /* Ocultar el icono del menú por defecto */
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: flex; /* Mostrar el icono del menú solo en pantallas pequeñas */
    }
  }
  

  
  
  
  
  
  