<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="menu-icon">
      <ion-menu-button autoHide="false" (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="assets/fotos/IMP_Logotipoa.png" alt="Logo Ileapaindegia" />
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToLogin()">
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
